@import '~node_modules/modern-normalize/modern-normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
  background-color: #130f40;
}

img {
  width: 100%;
  height: auto;
}
